.content-nav {
    background-color: blueviolet;
    width: 100%;
    height: 50px;
}

.content-nav-content {
    display: block;
    align-items: center;
    height: 100%;
}

.content-nav-ul {
    display: flex;
    height: 100%;
    margin: auto;
    flex-direction: row;
    justify-content: space-evenly;
}

.itemnav {
    text-decoration: none;
    color: #fff;
    margin-top: auto;
    font-size: 1.75rem;
}

.itemnav:hover {
    text-decoration: none;
    color: #000;
}

footer {
    background-color: #000;
    color: #fff;
    height: 10vh;
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, blue, pink);
}

footer p {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .content-nav {
        width: 100%;
    }

    .itemnav {
        margin-top: 16px;
        font-size: 16px;
    }
    .home{
        margin-bottom: 16px;
    }

    .content-nav-ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    footer {
        background-color: #000;
        width: 100%;
        color: #fff;
        height: 10vh;
        margin-top: 425px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom right, blue, pink);
    }
}